.classpath
.idea/
.project
.settings/
Main/target/
RestAssuredTests/target/
Util/target/
Websites/target/
RestAssuredTests/src/test/java/Binance/BinanceModel.java

RestAssuredTestsDeprecated/target/ >> .gitignore
echo APItests/target/
